.connection {
  background: linear-gradient(315deg, #0b1220 0%, #111a2e 40%, #291130 100%);
  color: darkgrey;
  & .btn {
    width: fit-content;
    margin-bottom: 16px;
  }
}
.connection__title {
  color: white;
}
.connection__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & div {
    @media (min-width: 480px) {
      display: flex;
      gap: 20px;
    }
  }
}
.connection__article {
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}
.connection__input-label {
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-input {
  background-color: #111a2e;
  border-radius: 6px;
  height: 32px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  padding: 8px;
}
.form-textarea {
  background-color: #111a2e;
  border-radius: 6px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  padding: 8px;
}
.connection__wrapper {
  @media (min-width: 768px) {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }
  & .connection__form,
  div {
    flex: 1;
  }
}
.map__wrapper {
  border-radius: 12px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  font-size: 16px;
  color: white;
  font-weight: 700;
  padding: 14px 10px;
  background-color: #111a2e;
}
.map {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
  height: 250px;
}

.map iframe {
  display: block;
  width: 100%;
  height: 350px;
}
