.concerts__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  background: rgba(41, 55, 83, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 12px 12px 0 0;
  border: 1px solid rgba(202, 202, 202, 0.2);
  border-bottom: none;
  padding: 10px 0;
}
.concerts__thead {
  background: rgba(41, 55, 83, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: rgb(156, 156, 156);
  & th {
    text-align: start;
  }
  // border: 1px solid rgba(202, 202, 202, 0.2);
}
.concerts__table {
  background: rgba(20, 28, 45, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  border-collapse: collapse;
  width: 100%;
  & tr {
    border: 1px solid rgba(202, 202, 202, 0.2);
  }
  & td,
  th {
    padding: 10px 5px;
  }
}
.table-wrapper {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(202, 202, 202, 0.2);
}
.btn {
  border-radius: 12px;
  border: 1px solid rgba(180, 63, 0, 0.6);

  padding: 10px 24px;

  background: linear-gradient(180deg, #ff5a5a 0%, #ff0800 60%, #f03000 100%);

  box-shadow:
    inset 0 2px 0 rgba(255, 255, 255, 0.6),
    inset 0 -2px 4px rgba(160, 120, 0, 0.4),
    0 8px 20px rgba(0, 0, 0, 0.35);

  color: #ffffff;

  cursor: pointer;
  transition: all 0.2s ease;
  @media (max-width: 767px) {
    padding: 4px 8px;
    border-radius: 10px;
    margin: auto;
  }
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow:
    inset 0 2px 0 rgba(255, 255, 255, 0.7),
    inset 0 -2px 6px rgba(160, 120, 0, 0.5),
    0 12px 28px rgba(0, 0, 0, 0.45);
}

.btn:active {
  transform: translateY(1px);
  box-shadow:
    inset 0 3px 6px rgba(120, 90, 0, 0.6),
    0 4px 10px rgba(0, 0, 0, 0.35);
}
.btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  pointer-events: none;
}

.btn {
  position: relative;
}
