.header {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  position: sticky;
  top: 0;
  padding-top: 5px;
  z-index: 1000;
  width: 100%;
  & .container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1600px;
    @media (min-width: 768px) {
      padding: 0 180px;
    }
  }
}
.nav__list {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.logo {
  padding: 20px 0;
  font-size: 12px;
  font-weight: 800;
}
.nav__link {
  font-weight: 500;
}

.nav__link {
  position: relative;
  transition: color 300ms ease;
  &:hover {
    color: #e63946;
  }
}

.nav__link.active {
  color: #e63946;
}

.nav__link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #e63946;
}
