.hero {
  background-image: url("../img/bcg-hero-1400.jpg");
  background-image: image-set(
    url("../img/bcg-hero-1400.avif") type("image/avif"),
    url("../img/bcg-hero-1400.webp") type("image/webp"),
    url("../img/bcg-hero-1400.jpg") type("image/jpg")
  );
  @media (max-width: 768px) {
    background-image: url("../img/bcg-hero-768.jpg");
    background-image: image-set(
      url("../img/bcg-hero-768.avif") type("image/avif"),
      url("../img/bcg-hero-768.webp") type("image/webp"),
      url("../img/bcg-hero-768.jpg") type("image/jpg")
    );
  }
  @media (max-width: 480px) {
    background-image: url("../img/bcg-hero-480.jpg");
    background-image: image-set(
      url("../img/bcg-hero-480.avif") type("image/avif"),
      url("../img/bcg-hero-480.webp") type("image/webp"),
      url("../img/bcg-hero-480.jpg") type("image/jpg")
    );
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      gap: 30px;
      padding: 90px 20px;
    }
    & div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
.hero__main-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  @media (min-width: 768px) {
    font-size: 48px;
  }
}
.hero__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
.hero__article {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  & strong {
    color: rgb(38, 220, 220);
  }
}

.hero__btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.18em;
  width: fit-content;

  padding: 14px 32px;

  border-radius: 12px;
  border: 1px solid rgba(180, 150, 0, 0.6);

  background: linear-gradient(180deg, #ffe85a 0%, #ffd800 60%, #f0c800 100%);

  box-shadow:
    inset 0 2px 0 rgba(255, 255, 255, 0.6),
    inset 0 -2px 4px rgba(160, 120, 0, 0.4),
    0 8px 20px rgba(0, 0, 0, 0.35);

  color: #111;

  cursor: pointer;
  transition: all 0.2s ease;
  @media (max-width: 767px) {
    padding: 12px 24px;
    border-radius: 10px;
    margin: auto;
  }
}
.hero__btn:hover {
  transform: translateY(-2px);
  box-shadow:
    inset 0 2px 0 rgba(255, 255, 255, 0.7),
    inset 0 -2px 6px rgba(160, 120, 0, 0.5),
    0 12px 28px rgba(0, 0, 0, 0.45);
}

.hero__btn:active {
  transform: translateY(1px);
  box-shadow:
    inset 0 3px 6px rgba(120, 90, 0, 0.6),
    0 4px 10px rgba(0, 0, 0, 0.35);
}
.hero__btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.05)
  );
  pointer-events: none;
}

.hero__btn {
  position: relative;
}
