.members__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 480px) {
    flex-direction: row;
  }
  @media (min-width: 768px) {
    justify-content: space-around;
  }
}
.members__item {
  border-radius: 12px;
  border: 1px solid rgba(202, 202, 202, 0.2);
  text-align: center;
  & img {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  @media (max-width: 479px) {
    justify-content: center;
    align-items: center;

    font-size: 24px;
  }
}
