.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0s ease-in-out 0s,
    opacity 400ms ease,
    pointer-events 0s ease-in-out 0s;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;
  background-color: white;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
  transition:
    scale 500ms ease-in-out 100ms,
    translate 500ms ease-in-out,
    opacity 400ms ease;
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 8px;
  right: 8px;
  overflow: hidden;
  box-sizing: border-box;
}
.modal-icon {
  display: block;
  transition: scale 0.5s ease-in-out;
  color: black;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
}
.modal-btn:hover > .modal-icon {
  overflow: hidden;
  scale: 1.4;
  cursor: pointer;
  color: blue;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  scale: 0.1;
  translate: -50% -70%;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* gap: 28px; */
}

.form-title {
  text-align: center;
  font-size: 20px;
  line-height: 0.95;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 0.03em;
  color: gray;
}
.form-input {
  height: 40px;
}
.form-textarea,
.form-input {
  width: 100%;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 30px;
}
.form-field {
  display: inline-block;
  position: relative;
}
.form-field:not(:last-child) {
  margin-top: 28px;
}
.form-lable {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  transition:
    transform 250ms ease,
    left 250ms ease,
    color 250ms ease;
}
.form-lable-textarea {
  position: absolute;
  top: 13px;
  left: 30px;
  transition:
    transform 250ms ease,
    left 250ms ease,
    color 250ms ease;
}

.form-input:focus + .form-lable,
.form-input:not(:placeholder-shown) + .form-lable {
  color: blue;
  left: 0;
  transform: translateY(-40px);
}
.form-textarea:focus + .form-lable-textarea,
.form-textarea:not(:placeholder-shown) + .form-lable-textarea {
  color: blue;
  left: 0;
  transform: translateY(-36px);
}
.form-input:focus,
.form-textarea:focus {
  outline: blue 2px solid;
}
.form-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.form-input:focus ~ .form-icon {
  color: blue;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: rgba(33, 33, 33, 1) 2px solid;
  border-radius: 2px;
}
.checkbox-label {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.checkbox:checked + .checkbox-icon {
  background-color: blue;
  //   background-image: url("../src/images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border: blue 2px solid;
}
.modal-link {
  color: blue;
  text-decoration: underline;
}
.modal-button {
  align-self: center;
  padding: auto;
  min-width: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
