body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0s ease-in-out 0s,
    opacity 400ms ease,
    pointer-events 0s ease-in-out 0s;
}
.modal {
  position: absolute;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: linear-gradient(135deg, #0b1220 0%, #111a2e 40%, #2a1a2e 100%);
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.2) 0px 2px 1px 0px;
  transition:
    scale 500ms ease-in-out 100ms,
    translate 500ms ease-in-out,
    opacity 400ms ease;
  & .btn {
    width: fit-content;
    margin: auto;
  }
  @media screen and (min-width: 450px) {
    max-width: 450px;
  }
  & .form-input {
    border: 1px solid rgba(202, 202, 202, 0.2);
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  scale: 0.1;
  translate: -50% -70%;
}
.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 16px;
}

.form-lable {
  left: 30px;
  transition:
    transform 250ms ease,
    left 250ms ease,
    color 250ms ease;
}

.form-input:focus + .form-lable {
  color: rgb(75, 22, 148);
  left: 0;
  transform: translateY(-40px);
}

.form-input:focus,
.form-textarea:focus {
  outline: rgb(75, 22, 148) 2px solid;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: gray 2px solid;
  border-radius: 2px;
}
.checkbox-label {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.checkbox:checked + .checkbox-icon {
  background-color: rgb(110, 52, 157);
  background-image: url("/src/img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border: rgb(110, 52, 157) 2px solid;
}
.modal-link {
  color: rgb(14, 96, 219);
  text-decoration: underline;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.modal-place {
  font-size: 18px;
  color: #e63946;
  display: block;
}

.modal-date {
  font-size: 16px;
  color: #555;
  display: block;
}
.icon-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background: grey;
  transform: translate(-50%, -50%);
  @media (max-width: 767px) {
    width: 13px;
    height: 1.5px;
  }
}
.icon-line--h {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon-line--v {
  transform: translate(-50%, -50%) rotate(135deg);
}
.modal-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 8px;
  right: 8px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgba(202, 202, 202, 0.2);
  transition: transform 300ms ease;
}
.modal-btn:hover {
  overflow: hidden;
  transform: scale(1.1);
  cursor: pointer;
}
