// @import "utils/variables";
@import "base/reset";
@import "base/base";

@import "components/container";
@import "components/header";

// @import "components/nav";
@import "components/hero";
@import "components/con—Åerts";
@import "components/history";
@import "components/connection";
@import "components/members";
@import "components/footer";
// //////////////////////////////////////
// @import "components/button";
// @import "components/team";
// @import "components/advantages";
// @import "components/activity";
// @import "components/customers";
// @import "components/portfolio";
// @import "components/card";
// @import "components/footer";
@import "components/modal";
// @import "components/footer";

// @import "components/social";
// @import "components/mobile-menu";
